/* TR-03 - Hero Section Start */ 
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    height: calc(100vh - 120px);
    gap: 30px;
}
.hero-image-container{
    display: grid;
    place-items: center;
}
.hero-image-container img {
    width: clamp(162px, 20vw, 197px);
    object-fit: cover;
}
.hero-section-content{
    max-width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title{
    font-family: var(--font-family-base);
    font-size: clamp(var(--font-2xl), 5vw, var(--font-4xl));
    font-weight: 800px;
    text-align: center;
}
.hero-title .hero-title-highlight {
    color: var(--primary-color);
}
.hero-description{
    opacity: 0.8;
    max-width: 70%;
    font-size: clamp(var(--font-sm), 2vw, var(--font-md));
    line-height: 24px;
    text-align: center;
    color: var(--text-color);
    font-weight: var(--medium);
}
.hero-section-cta-container {
    margin-block-start: 40px;
    display: flex;
    gap: 25px;
}
.btn-soft-shadow{
    font-family: var(--font-family-base);
    font-size: var(--font-base);
    width: 141px;
    height: 60px;
    background-color: var(--primary-color);
    color:white;
    border-radius: 55px;
    transition: background 0.3s, color 0.3s;
    box-shadow: 0px 23px 47px 0px #043A533D;
}
.btn-soft-shadow:hover{
    color: var(--primary-color);
    background-color: white;
}
.hero-section-cta-container:last-child img {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    object-fit: cover;
    border-radius: 66px;
    box-shadow: 0px 23px 47px 0px #043A533D;
    border: none;
}
.btn-secondary{
    font-family: var(--font-family-base);
    font-size: 18px;
    font-weight: var(--bold);
    width: 236px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--primary-color);
    border-radius: 55px;
    background-color: var(--light-grey);
    transition: background 0.3s, color 0.3s;
}
.btn-secondary:hover {
    box-shadow: 0px 23px 47px 0px #043A533D;
}

/* Responsive Design */
@media screen and (max-width: 780px) {
    .hero-section {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        gap: 20px; 
        height: auto; 
        padding: 20px; 
    }

    .hero-section-content {
        order: 1; 
        width: 100%;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }
    .hero-section-cta-container { 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
        margin-top: 20px; 
    }

    .hero-image-container {
        order: 2;
        flex: 0 0 45%; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
}
/* TR-03 - Hero Section End */ 

/* TR-05 - Trusted Brands Section Start */
.trusted-brands-section{
    background-color: white;
    padding: 50px 20px;
}
.brands-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.trusted-brands-title{
    font-family: var(--font-family-base);
    font-size: var(--font-sm);
    font-weight: var(--medium);
    line-height: 24px;
    color: black;
}
.brands-logo-container{
    display: flex;
    gap: 64px;
}
.brand-logo{
    max-width: 135px;
}

@media screen and (max-width: 1200px) {
    .brands-container{
        flex-direction: column;
        justify-content: center;
    }
    .brands-logo-container{
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
}
@media screen and (max-width: 992px){
    .brands-logo-container{
        gap:40px;
    }
    .brand-logo{
        max-width: 100px;
    }
}
@media screen and (max-width: 768px){
    .trusted-brands-title{
        font-size:var(--font-xs) ;
    }
    .brands-logo-container{
        flex-wrap: wrap;
        gap: 24px;
    }
    .brand-logo{
        max-width: 80px;
    }
}
@media screen and (max-width: 576px){
    .trusted-brands-title{
        font-size: var(--font-xxs);
    }
}
/* TR-05 Trusted Brands End */

/* TR-13 - Building Bridges Seciton Start */
.building-bridges-section{
  font-family: var(--font-family-base);
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px, 0;
  padding-left: 0;
}
.building-bridges-container{
  display:flex;
  width: 100%;
  max-width: 1270px;
  gap: 32px;
  align-items: center;
}
.building-bridges-container .image-container, 
.building-bridges-container .information-container{
  width: 50%;
}
.building-bridges-container .image-container {
  position: relative;
  height: auto;
}
.building-bridges-container .image-container .image{
  object-fit: cover;
  width: 100%;
  max-width: 629px;
  height: auto;
  border-top-right-radius: 16px;
  border-bottom-right-radius:16px;
}
.building-bridges-container .image-container .sticker-container{
  position: absolute;
  top: 50%;
  right: -50px;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 26px, 56px;
  gap: 16px;
  cursor: default;
  pointer-events: none;
}
.building-bridges-container .image-container .text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: var(--font-sm);
  line-height: 24px;
}
.building-bridges-container .image-container .text-container .rank{
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
}
.building-bridges-section .information-container {
  display: flex;
  flex-direction: column;
  gap:32px;
  max-width: 550px;
  flex:1 ;
  height: 100%;
}
.building-bridges-section .information-container .title {
  font-size: var(--font-3xl);
  line-height: 72px;
  letter-spacing: -1.2px;
}
.building-bridges-section .information-container .title .accented {
  color: #92A7B0;
  font-size: var(--font-3xl);
  line-height: 72px;
  letter-spacing: -1.2px;
}
.building-bridges-section .information-container .description {
  color: var(--text-color);
  font-size : var(--font-md);
  line-height: 30px;
}
.building-bridges-section .information-container .button{
  width:205px;
  height: 64px;
  padding: 16px 20px;
  border-radius: 55px;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: var(--font-base);
  font-weight: var(--bold);
  transform: scaleX(1);
  transition: all 0.2s ease-in-out;
}
.building-bridges-section .information-container .button .arrow-container{
  gap: 10px;
  padding: 4px;
  border-radius: 50%;
}
.building-bridges-section .information-container .button .arrow-container img{
  width:32px;
  height: 32px;
}
/* TR-13 - Building Bridges Seciton End */