/* TR-03 - Hero Section Start */ 
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    height: calc(100vh - 120px);
    gap: 30px;
}
.hero-image-container{
    display: grid;
    place-items: center;
}
.hero-image-container img {
    width: 100%;
    max-width: 197px;
    object-fit: cover;
}
.hero-section-content{
    max-width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title{
    font-family: var(--font-family-base);
    font-size: var(--font-4xl);
    font-weight: 800px;
    text-align: center;
}
.hero-title .hero-title-highlight {
    color: var(--primary-color);
}
.hero-description{
    opacity: 0.8;
    max-width: 70%;
    font-size: var(--font-md);
    line-height: 24px;
    text-align: center;
    color: var(--text-color);
    font-weight: var(--medium);
}
.hero-section-cta-container {
    margin-block-start: 40px;
    display: flex;
    gap: 25px;
}
.btn-soft-shadow{
    font-family: var(--font-family-base);
    font-size: 18px;
    width: 141px;
    height: 60px;
    background-color: var(--primary-color);
    color:white;
    border-radius: 55px;
    transition: background 0.3s, color 0.3s;
    box-shadow: 0px 23px 47px 0px #043A533D;
}
.btn-soft-shadow:hover{
    color: var(--primary-color);
    background-color: white;
}
.hero-section-cta-container:last-child img {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    object-fit: cover;
    border-radius: 66px;
    box-shadow: 0px 23px 47px 0px #043A533D;
    border: none;
}
.btn-secondary{
    font-family: var(--font-family-base);
    font-size: 18px;
    font-weight: var(--bold);
    width: 236px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--primary-color);
    border-radius: 55px;
    background-color: var(--light-grey);
    transition: background 0.3s, color 0.3s;
}
.btn-secondary:hover {
    box-shadow: 0px 23px 47px 0px #043A533D;
}

@media screen and (max-width: 915px) {
    .hero-image-container img {
        width: 100%;
        min-width: 162px;
    }
}
/* TR-03 - Hero Section End */ 